[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "anscombiser"]
	path = anscombiser
	url = https://github.com/paulnorthrop/anscombiser
	shallow = true
	registered = true
[submodule "bang"]
	path = bang
	url = https://github.com/paulnorthrop/bang
	shallow = true
	registered = true
[submodule "chandwich"]
	path = chandwich
	url = https://github.com/paulnorthrop/chandwich
	shallow = true
	registered = true
[submodule "exdex"]
	path = exdex
	url = https://github.com/paulnorthrop/exdex
	shallow = true
	registered = true
[submodule "itp"]
	path = itp
	url = https://github.com/paulnorthrop/itp
	shallow = true
	registered = true
[submodule "lax"]
	path = lax
	url = https://github.com/paulnorthrop/lax
	shallow = true
	registered = true
[submodule "revdbayes"]
	path = revdbayes
	url = https://github.com/paulnorthrop/revdbayes
	shallow = true
	registered = true
[submodule "rust"]
	path = rust
	url = https://github.com/paulnorthrop/rust
	shallow = true
	registered = true
[submodule "smovie"]
	path = smovie
	url = https://github.com/paulnorthrop/smovie
	shallow = true
	registered = true
[submodule "threshr"]
	path = threshr
	url = https://github.com/paulnorthrop/threshr
	shallow = true
	registered = true
