[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anscombiser"]
	path = anscombiser
	url = https://github.com/paulnorthrop/anscombiser
[submodule "bang"]
	path = bang
	url = https://github.com/paulnorthrop/bang
[submodule "chandwich"]
	path = chandwich
	url = https://github.com/paulnorthrop/chandwich
[submodule "donut"]
	path = donut
	url = https://github.com/paulnorthrop/donut
[submodule "exdex"]
	path = exdex
	url = https://github.com/paulnorthrop/exdex
[submodule "itp"]
	path = itp
	url = https://github.com/paulnorthrop/itp
[submodule "lax"]
	path = lax
	url = https://github.com/paulnorthrop/lax
[submodule "lite"]
	path = lite
	url = https://github.com/paulnorthrop/lite
[submodule "r2stl"]
	path = r2stl
	url = https://github.com/paulnorthrop/r2stl
[submodule "revdbayes"]
	path = revdbayes
	url = https://github.com/paulnorthrop/revdbayes
[submodule "rust"]
	path = rust
	url = https://github.com/paulnorthrop/rust
[submodule "smovie"]
	path = smovie
	url = https://github.com/paulnorthrop/smovie
[submodule "threshr"]
	path = threshr
	url = https://github.com/paulnorthrop/threshr
